#include "../include/NavKit/Resource.h"
#include <windows.h>

IDD_ERROR_DIALOG DIALOGEX 0, 0, 200, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Error"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,150,80,40,14
    PUSHBUTTON      "Copy",IDC_COPY_BUTTON,100,80,40,14
    EDITTEXT        IDC_ERROR_TEXT,10,10,180,60,ES_MULTILINE | ES_READONLY | WS_VSCROLL
END
IDI_ICON1               ICON    DISCARDABLE     "NavKitLogo.ico"