#include "../include/NavKit/Resource.h"
#include <windows.h>

IDR_NAVKITMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "Open &Scene",                              IDM_FILE_OPEN_SCENE
        MENUITEM "Open &Obj",                                IDM_FILE_OPEN_OBJ
        MENUITEM "Open &Navp",                               IDM_FILE_OPEN_NAVP
        MENUITEM "Open &Airg",                               IDM_FILE_OPEN_AIRG
        MENUITEM SEPARATOR
        MENUITEM "Save &Scene",                              IDM_FILE_SAVE_SCENE
        MENUITEM "Save &Obj",                                IDM_FILE_SAVE_OBJ
        MENUITEM "Save &Navp",                               IDM_FILE_SAVE_NAVP
        MENUITEM "Save &Airg",                               IDM_FILE_SAVE_AIRG
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                                    IDM_FILE_EXIT
    END

    POPUP "&Edit"
    BEGIN
        POPUP "&Navp Area"
        BEGIN
            MENUITEM "&Stairs",                              IDM_EDIT_NAVP_STAIRS
        END
    END

    POPUP "&Settings"
    BEGIN
        MENUITEM "&NavKit Settings",                         IDM_SETTINGS_NAVKIT
        MENUITEM "&Scene Settings",                          IDM_SETTINGS_SCENE
        MENUITEM "&Navp Settings",                           IDM_SETTINGS_NAVP
        MENUITEM "&Airg Settings",                           IDM_SETTINGS_AIRG
    END
    POPUP "&View"
    BEGIN
        POPUP "&Navp"
        BEGIN
            MENUITEM "Show &Navp",                           IDM_VIEW_NAVP_SHOW_NAVP, CHECKED
            MENUITEM "Show Navp &Indices",                   IDM_VIEW_NAVP_SHOW_INDICES
            MENUITEM "Show &Exclusion Boxes",                IDM_VIEW_NAVP_SHOW_PF_EXCLUDE_BOXES, CHECKED
            MENUITEM "Show &Seed Points",                    IDM_VIEW_NAVP_SHOW_PF_SEED_POINTS, CHECKED
            MENUITEM "Show &Recast Debug Info",              IDM_VIEW_NAVP_SHOW_RECAST_DEBUG_INFO
        END
        MENUITEM "Show &Obj",                                IDM_VIEW_OBJ_SHOW_OBJ, CHECKED
        POPUP "&Airg"
        BEGIN
            MENUITEM "Show &Airg",                           IDM_VIEW_AIRG_SHOW_AIRG, CHECKED
            MENUITEM "Show Airg &Indices",                   IDM_VIEW_AIRG_SHOW_INDICES
            MENUITEM "Show &Grid",                           IDM_VIEW_AIRG_SHOW_GRID, CHECKED
            MENUITEM "Show &Recast Debug Info",              IDM_VIEW_AIRG_SHOW_RECAST_DEBUG_INFO
            MENUITEM SEPARATOR
            POPUP "Cell Color Data Source"
            BEGIN
                MENUITEM "None",                                 IDM_VIEW_AIRG_CELL_COLOR_OFF, CHECKED
                MENUITEM "Bitmap",                               IDM_VIEW_AIRG_CELL_COLOR_BITMAP
                MENUITEM "Vision Data",                          IDM_VIEW_AIRG_CELL_COLOR_VISION_DATA
                MENUITEM "Layer",                                IDM_VIEW_AIRG_CELL_COLOR_LAYER
            END

        END
        MENUITEM "Show &Log",                                IDM_VIEW_LOG_SHOW_LOG, CHECKED
    END

    POPUP "&Extract"
    BEGIN
        MENUITEM "Extract &Scene from game",                 IDM_EXTRACT_SCENE
        MENUITEM "Extract Scene from game and build &Obj",   IDM_EXTRACT_SCENE_AND_BUILD_OBJ
        MENUITEM "Extract Scene from game and build &all",   IDM_EXTRACT_SCENE_AND_BUILD_ALL
    END

    POPUP "&Build"
    BEGIN
        POPUP "&Obj"
        BEGIN
            MENUITEM "Build Obj from &Scene",                IDM_BUILD_OBJ_FROM_SCENE
            MENUITEM "Build Obj from &Navp",                 IDM_BUILD_OBJ_FROM_NAVP
        END
        MENUITEM "Build &Navp from Obj and Scene",           IDM_BUILD_NAVP
        MENUITEM "Build &Airg from Navp",                    IDM_BUILD_AIRG
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "&About",                                   IDM_HELP_ABOUT
    END
END

IDD_ERROR_DIALOG DIALOGEX 300, 0, 500, 400
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Error"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,400,380,40,14
    PUSHBUTTON      "Copy",IDC_COPY_BUTTON,450,380,40,14
    EDITTEXT        IDC_ERROR_TEXT,10,10,480,360,ES_MULTILINE | ES_READONLY | WS_VSCROLL
END

IDD_UPDATE_DIALOG DIALOGEX 300, 0, 300, 100
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Update Now?"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Yes",IDYES,200,80,40,14
    PUSHBUTTON      "No",IDNO,250,80,40,14
    CTEXT           "Update text",IDC_UPDATE_TEXT,10,10,280,60
END
IDI_ICON1               ICON    DISCARDABLE     "resource/NavKitLogo.ico"